ws/Account.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:jws="http://api.jasperwireless.com/ws/schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://api.jasperwireless.com/ws/schema">

    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns="http://api.jasperwireless.com/ws/schema"
                   elementFormDefault="qualified" attributeFormDefault="unqualified"
                   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
            <xs:import namespace="http://api.jasperwireless.com/ws/schema"
                       schemaLocation="JasperAPI.xsd"/>
        </xs:schema>
    </types>



    <message name="GetAccountsRequest">
        <part name="body" element="jws:GetAccountsRequest"/>
    </message>

    <message name="GetAccountsResponse">
        <part name="body" element="jws:GetAccountsResponse"/>
    </message>

    <message name="GetAccountDetailsRequest">
        <part name="body" element="jws:GetAccountDetailsRequest"/>
    </message>

    <message name="GetAccountDetailsResponse">
        <part name="body" element="jws:GetAccountDetailsResponse"/>
    </message>

    <message name="CreateAccountRequest">
        <part name="body" element="jws:CreateAccountRequest"/>
    </message>

    <message name="CreateAccountResponse">
        <part name="body" element="jws:CreateAccountResponse"/>
    </message>

    <message name="GetAccountIdByAcctNameRequest">
        <part name="body" element="jws:GetAccountIdByAcctNameRequest"/>
    </message>

    <message name="GetAccountIdByAcctNameResponse">
        <part name="body" element="jws:GetAccountIdByAcctNameResponse"/>
    </message>

    <message name="GetAccountIdByOpAcctIdRequest">
        <part name="body" element="jws:GetAccountIdByOpAcctIdRequest"/>
    </message>

    <message name="GetAccountIdByOpAcctIdResponse">
        <part name="body" element="jws:GetAccountIdByOpAcctIdResponse"/>
    </message>

    <message name="GetAccountPeerStatusRequest">
        <part name="body" element="jws:GetAccountPeerStatusRequest"/>
    </message>

    <message name="GetAccountPeerStatusResponse">
        <part name="body" element="jws:GetAccountPeerStatusResponse"/>
    </message>

    <message name="SetAccountPeerStatusRequest">
        <part name="body" element="jws:SetAccountPeerStatusRequest"/>
    </message>

    <message name="SetAccountPeerStatusResponse">
        <part name="body" element="jws:SetAccountPeerStatusResponse"/>
    </message>

    <message name="EditAccountRequest">
        <part name="body" element="jws:EditAccountRequest"/>
    </message>

    <message name="EditAccountResponse">
        <part name="body" element="jws:EditAccountResponse"/>
    </message>

    <portType name="AccountPortType">
        <operation name="GetAccounts">
            <input message="jws:GetAccountsRequest"/>
            <output message="jws:GetAccountsResponse"/>
        </operation>
        <operation name="GetAccountDetails">
            <input message="jws:GetAccountDetailsRequest"/>
            <output message="jws:GetAccountDetailsResponse"/>
        </operation>
        <operation name="CreateAccount">
            <input message="jws:CreateAccountRequest"/>
            <output message="jws:CreateAccountResponse"/>
        </operation>
        <operation name="GetAccountIdByAcctName">
            <input message="jws:GetAccountIdByAcctNameRequest"/>
            <output message="jws:GetAccountIdByAcctNameResponse"/>
        </operation>
        <operation name="GetAccountIdByOpAcctId">
            <input message="jws:GetAccountIdByOpAcctIdRequest"/>
            <output message="jws:GetAccountIdByOpAcctIdResponse"/>
        </operation>
        <operation name="GetAccountPeerStatus">
            <input message="jws:GetAccountPeerStatusRequest"/>
            <output message="jws:GetAccountPeerStatusResponse"/>
        </operation>
        <operation name="SetAccountPeerStatus">
            <input message="jws:SetAccountPeerStatusRequest"/>
            <output message="jws:SetAccountPeerStatusResponse"/>
        </operation>
        <operation name="EditAccount">
            <input message="jws:EditAccountRequest"/>
            <output message="jws:EditAccountResponse"/>
        </operation>

    </portType>

    <binding name="AccountBinding" type="jws:AccountPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetAccounts">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/GetAccounts"/>
            <input name="GetAccountsRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAccountsResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="GetAccountDetails">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/GetAccountDetails"/>
            <input name="GetAccountDetailsRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAccountDetailsResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="CreateAccount">
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/CreateAccount"/>
            <input name="CreateAccountRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="CreateAccountResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="GetAccountIdByAcctName">
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/GetAccountIdByAcctName"/>
            <input name="GetAccountIdByAcctNameRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAccountIdByAcctNameResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="GetAccountIdByOpAcctId">
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/GetAccountIdByOpAcctId"/>
            <input name="GetAccountIdByOpAcctIdRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAccountIdByOpAcctIdResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="GetAccountPeerStatus">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/GetAccountPeerStatus"/>
            <input name="GetAccountPeerStatusRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAccountPeerStatusResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="SetAccountPeerStatus">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/SetAccountPeerStatus"/>
            <input name="SetAccountPeerStatusRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="SetAccountPeerStatusResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>

        <operation name="EditAccount">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/account/EditAccount"/>
            <input name="EditAccountRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="EditAccountResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
    </binding>

    <service name="AccountService">
        <port binding="jws:AccountBinding" name="AccountPort">
            <soap:address location="https://api.10646.cn/ws/service/account"/>
        </port>
    </service>
</definitions>

