ws/Alert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:jws="http://api.jasperwireless.com/ws/schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://api.jasperwireless.com/ws/schema">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://api.jasperwireless.com/ws/schema"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
            <xs:import namespace="http://api.jasperwireless.com/ws/schema"
                       schemaLocation="JasperAPI.xsd"/>
        </xs:schema>
    </types>

    <message name="GetAlertsRequest">
        <part name="body" element="jws:GetAlertsRequest"/>
    </message>

    <message name="GetAlertsResponse">
        <part name="body" element="jws:GetAlertsResponse"/>
    </message>

    <message name="GetAlertDetailsRequest">
        <part name="body" element="jws:GetAlertDetailsRequest"/>
    </message>

    <message name="GetAlertDetailsResponse">
        <part name="body" element="jws:GetAlertDetailsResponse"/>
    </message>

    <portType name="AlertPortType">
        <operation name="GetAlerts">
            <input message="jws:GetAlertsRequest" />
            <output message="jws:GetAlertsResponse" />
        </operation>
        <operation name="GetAlertDetails">
            <input message="jws:GetAlertDetailsRequest" />
            <output message="jws:GetAlertDetailsResponse" />
        </operation>
     </portType>

    <binding name="AlertBinding" type="jws:AlertPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetAlerts">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/alert/GetAlerts"/>
            <input name="GetAlertsRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAlertsResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="GetAlertDetails">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/alert/GetAlertDetails"/>
            <input name="GetAlertDetailsRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetAlertDetailsResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
    </binding>

    <service name="AlertService">
        <port binding="jws:AlertBinding" name="AlertPort">
            <soap:address location="https://api.10646.cn/ws/service/Alert"/>
        </port>
    </service>
</definitions>