ws/NetworkAccess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:jws="http://api.jasperwireless.com/ws/schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://api.jasperwireless.com/ws/schema">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://api.jasperwireless.com/ws/schema"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
            <xs:import namespace="http://api.jasperwireless.com/ws/schema"
                       schemaLocation="JasperAPI.xsd"/>
        </xs:schema>
    </types>

    <message name="EditNetworkAccessConfigRequest">
        <part name="body" element="jws:EditNetworkAccessConfigRequest"/>
    </message>

    <message name="EditNetworkAccessConfigResponse">
        <part name="body" element="jws:EditNetworkAccessConfigResponse"/>
    </message>

    <message name="GetNetworkAccessConfigRequest">
        <part name="body" element="jws:GetNetworkAccessConfigRequest"/>
    </message>

    <message name="GetNetworkAccessConfigResponse">
        <part name="body" element="jws:GetNetworkAccessConfigResponse"/>
    </message>

    <portType name="NetworkAccessPortType">
         <operation name="EditNetworkAccessConfig">
            <input message="jws:EditNetworkAccessConfigRequest" />
            <output message="jws:EditNetworkAccessConfigResponse" />
        </operation>

        <operation name="GetNetworkAccessConfig">
            <input message="jws:GetNetworkAccessConfigRequest" />
            <output message="jws:GetNetworkAccessConfigResponse" />
        </operation>

    </portType>

    <binding name="NetworkAccessBinding" type="jws:NetworkAccessPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
         <operation name="EditNetworkAccessConfig">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/networkaccess/EditNetworkAccessConfig"/>
            <input name="EditNetworkAccessConfigRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="EditNetworkAccessConfigResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>

       <operation name="GetNetworkAccessConfig">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/networkaccess/GetNetworkAccessConfig"/>
            <input name="GetNetworkAccessConfigRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="GetNetworkAccessConfigResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>

    </binding>

    <service name="NetworkAccessService">
        <port binding="jws:NetworkAccessBinding" name="NetworkAccessPort">
            <soap:address location="https://api.10646.cn/ws/service/networkaccess"/>
        </port>
    </service>
</definitions>

