ws/Order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:jws="http://api.jasperwireless.com/ws/schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://api.jasperwireless.com/ws/schema">

    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns="http://api.jasperwireless.com/ws/schema"
                   elementFormDefault="qualified" attributeFormDefault="unqualified"
                   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
            <xs:import namespace="http://api.jasperwireless.com/ws/schema"
                       schemaLocation="JasperAPI.xsd"/>
        </xs:schema>
    </types>

    <message name="UpdateOrderStatusRequest">
        <part name="body" element="jws:UpdateOrderStatusRequest"/>
    </message>

    <message name="UpdateOrderStatusResponse">
        <part name="body" element="jws:UpdateOrderStatusResponse"/>
    </message>

    <message name="AdvanceShipmentNotificationRequest">
        <part name="body" element="jws:AdvanceShipmentNotificationRequest"/>
    </message>

    <message name="AdvanceShipmentNotificationResponse">
        <part name="body" element="jws:AdvanceShipmentNotificationResponse"/>
    </message>

    <portType name="OrderPortType">
        <operation name="UpdateOrderStatus">
            <input message="jws:UpdateOrderStatusRequest"/>
            <output message="jws:UpdateOrderStatusResponse"/>
        </operation>
        <operation name="AdvanceShipmentNotification">
            <input message="jws:AdvanceShipmentNotificationRequest"/>
            <output message="jws:AdvanceShipmentNotificationResponse"/>
        </operation>
    </portType>

    <binding name="OrderBinding" type="jws:OrderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="UpdateOrderStatus">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/UpdateOrderStatus"/>
            <input name="UpdateOrderStatusRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="UpdateOrderStatusResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>

        <operation name="AdvanceShipmentNotification">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/order/AdvanceShipmentNotification"/>
            <input name="AdvanceShipmentNotificationRequest">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output name="AdvanceShipmentNotificationResponse">
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
    </binding>

    <service name="OrderService">
        <port binding="jws:OrderBinding" name="OrderPort">
            <soap:address location="https://api.10646.cn/ws/service/order"/>
        </port>
    </service>
</definitions>